<!doctype html>

<html class="outline color">

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="../CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../CSS/layout.css">
    <link rel="stylesheet" type="text/css" href="layout-fixtype.css">
</head>

<body>

    <!-- 定宽960 居中 清除浮动 -->
    <div id="w960-m0a" class="clearfix">

        <!-- 定宽150 float-left -->
        <div class="w150 float-left">

            <!-- 外边距20 -->
            <div class="m20">a</div>

        </div>

        <!-- 定宽600 float-left -->
        <div class="w600 float-left">

            <!-- 外边距20 -->
            <div class="m20">a</div>

        </div>

        <!-- 定宽200 float-left -->
        <div class="w210 float-left">

            <!-- 外边距20 -->
            <div class="m20">a</div>

        </div>

    </div>

</body>

</html>
