<!doctype html>

<html class="all-outline all-color">

<head>
    <meta charset="utf-8">
    <title>Layout</title>
    <link rel="stylesheet" type="text/css" href="../CSS/reset.css">
    <link rel="stylesheet" type="text/css" href="../CSS/layout.css">
    <link rel="stylesheet" type="text/css" href="layout-table.css">
</head>

<body>

    <!-- 内容1 -->
    <div class="content-1">
        <div class="left">
            <div class="box">L</div>
        </div>
        <div class="right">
            <div class="box">R</div>
        </div>
    </div>

    <!-- 内容2 -->
    <div class="content-2">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
        </ul>
    </div>

    <!-- 内容3 -->
    <div class="content-3">
        <div class="img-box">
            <img src="">
        </div>
    </div>

    </div>

</body>

</html>
